@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Dosis:wght@200..800&family=DynaPuff:wght@400..700&family=Exo:ital,wght@0,100..900;1,100..900&family=M+PLUS+Rounded+1c&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nabla&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Parkinsans:wght@300..800&family=Playwrite+HR+Lijeva:wght@100..400&family=Playwrite+IN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');

.varela-round-regular {
  font-family: "Varela Round", serif;
  font-weight: 400;
  font-style: normal;
}


*{
  margin: 0%;
  padding: 0%;
}

li{
  float: right;
  padding-right: 10px;
  list-style-type: none;
}

a{
  text-decoration: none;
  font-family: Varela Round;
  font-size: 14px;
  background: linear-gradient(rgb(243, 60, 91), pink );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.active{
  background: linear-gradient(rgb(0, 255, 68), rgb(137, 255, 167));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card{
  margin-left: 15px;
  box-shadow: 10px 5px 12px rgb(241, 240, 188);
  text-align: center;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 17px;
  margin-bottom: 30px;
  font-family: Varela Round;
  border: 1px solid rgb(128, 126, 17);
  
}

nav{
  margin-bottom: 10px;
}

body{
  background-image: url(bg1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat:repeat-y;
  background-attachment: fixed;
}

.mem h1{
  text-align: center;
  font-family: Varela Round;
}

@media(min-width:570px){
  .card{
  font-size: 25px;
  }

  nav a{
    font-size: 24px;
  }
}